/*
 * Settings
 *		used with preprocessors and contains font, colors, etc. Does not contain actual CSS.
 */


/*---[Layout] ------------------------------------------------------------------*/
$max-layout-width: 1366px;

/*---[Fonts] ------------------------------------------------------------------*/
$font-stack: 'Segoe UI', 'Open Sans', 'Fira Sans', 'Roboto', sans-serif;


/*---[Colors] ------------------------------------------------------------------*/
$swatch1: #263645;
$swatch1-light: color($swatch1 tint(15%));
$swatch1-lighter: color($swatch1 tint(25%));
$swatch1-lightest: color($swatch1 tint(35%));
$swatch1-dark: color($swatch1 shade(15%));
$swatch1-darker: color($swatch1 shade(25%));
$swatch1-darkest: color($swatch1 shade(35%));

$swatch2: #2c3e50;
$swatch2-light: color($swatch2 tint(15%));
$swatch2-lighter: color($swatch2 tint(25%));
$swatch2-lightest: color($swatch2 tint(35%));
$swatch2-dark: color($swatch2 shade(15%));
$swatch2-darker: color($swatch2 shade(25%));
$swatch2-darkest: color($swatch2 shade(35%));

$swatch3: #f1f2f6;
$swatch3-light: color($swatch3 tint(15%));
$swatch3-lighter: color($swatch3 tint(25%));
$swatch3-lightest: color($swatch3 tint(35%));
$swatch3-dark: color($swatch3 shade(15%));
$swatch3-darker: color($swatch3 shade(25%));
$swatch3-darkest: color($swatch3 shade(35%));

$swatch4: #1abc9c;
$swatch4-light: color($swatch4 tint(15%));
$swatch4-lighter: color($swatch4 tint(25%));
$swatch4-lightest: color($swatch4 tint(35%));
$swatch4-dark: color($swatch4 shade(15%));
$swatch4-darker: color($swatch4 shade(25%));
$swatch4-darkest: color($swatch4 shade(35%));

$swatch5: #e74c3c;
$swatch5-light: color($swatch5 tint(15%));
$swatch5-lighter: color($swatch5 tint(25%));
$swatch5-lightest: color($swatch5 tint(35%));
$swatch5-dark: color($swatch5 shade(15%));
$swatch5-darker: color($swatch5 shade(25%));
$swatch5-darkest: color($swatch5 shade(35%));
