/*
 * Tools
 * 		globally used mixins and functions. Does not contain actual CSS.
 */


@define-placeholder icons {
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
