/*
 * Generic
 *		reset and/or normalize styles, box-sizing definition, etc. This is the first layer which generates actual CSS.
 */

/*--- [Fonts] ------------------------------------------------------------------------------------------------*/
@font-face { font-family: 'icons'; src: url('../fonts/icons.woff') format('woff'); font-weight: normal; font-style: normal; }

/*---[Reset] ------------------------------------------------------------------*/
*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; }
html, body { margin: 0; padding: 0; }
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, form { display: block; margin: 0; padding: 0; }
template, [hidden] { display: none; }
input[type='submit'], input[type='reset'], input[type='button'], button, .Button { cursor: pointer; }
input:focus, textarea:focus, select:focus { outline: 0; }
input[type='checkbox'], input[type='radio'] { box-sizing: border-box; padding: 0; cursor: pointer; }
input[type='search'] { -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; }
input[type='search']::-webkit-search-decoration { -webkit-appearance: none; }
button, input, select, label { cursor: pointer; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; }
button, input { line-height: normal; }
button::-moz-focus-inner, input::-moz-focus-inner { padding: 0; border: 0; }
textarea { overflow: auto; vertical-align: top; }
table { width: 100%; border-spacing: 0; border-collapse: collapse; }
td { vertical-align: top; }
td, th { text-align: left; }
fieldset { border:0; margin:0; padding:0; }
img { max-width: 100%; vertical-align: middle; border: 0; }
form { position: relative; }
textarea { min-height: 100px; }
iframe { display: block; max-width: 100%; }
address { font-style: normal; }
hr { width: 100%; border: 1px solid #ddd; margin: 2em 0; }
svg { vertical-align: middle; }

::placeholder { color: #aaa; }

/*---[Icons] ------------------------------------------------------------------*/
.Icon { font:0/0 a; }
.Icon .Nav-Link { display: inline-block; }
.Icon .Nav-Link:before { @extend icons; display:block; font-size:1rem; position: relative; }
.Icon-Facebook .Nav-Link:before { content: "\f09a"; }
.Icon-Facebook:hover .Nav-Link:before { color:#4267b2; }
.Icon-Twitter .Nav-Link:before { content: "\f099"; }
.Icon-Twitter:hover .Nav-Link:before { color:#1da1f2; }
.Icon-Youtube .Nav-Link:before { content: "\f16a"; }
.Icon-Youtube:hover .Nav-Link:before { color:#f00; }
