/*
 * Elements
 *		Styling for bare HTML elements (like H1, A, etc.). These come with default styling from the browser so we can redefine them here.
 */

/*--- [Typography] ------------------------------------------------------------------------------------------------*/
body, button, input, select, textarea { color:#555; font: 18px/1.6 $font-stack;  }
h1, h2, h3, h4, h5, h6, legend { margin:0 0 20px 0; color:#333; font: 300 4rem/1.1 $font-stack; }
h1, h2 { text-rendering: optimizeLegibility; }
h2 { font-size: 3.4rem; }
h3 { font-size: 2.8rem; }
h4 { font-size: 2.2rem; }
h5 { font-size: 2.0rem; }
h6 { font-size: 1.8rem; }
legend { font-size: 1.3rem; }

/*---[Buttons]------------------------------------------------------------------*/
button, input[type='button'] { display:inline-block; text-align:center; background:$swatch3; color:$swatch4; border-radius: .3rem; padding: 1.4rem 3rem; border:0; text-decoration: none; line-height: 1; transition: background-color 0.3s ease; text-shadow:none; }
button:hover, input[type='button']:hover { background:$swatch3-lighter; }
button:active, input[type='button']:active { background:$swatch3-darker; }

.Button { @extend button; }
.Button.plain { background:none; color:#fff; padding:0; text-decoration: none; }

/* Menu Button */
.Button.menu { @extend .Button.plain; @extend icons; display:flex; width:32px; justify-content: center; }
.Button.menu:before { content:"\f0c9"; font-size:1.4rem; }
.Button.menu .Button-Text { font:0/0 a; }

/* Close Button */
.Button.close { @extend .Button.plain; @extend icons; display:flex; width:32px; justify-content: center; }
.Button.close:before { content:"\f00d"; font-size:1.4rem; }
.Button.close .Button-Text { font:0/0 a; }

/* Search Button */
.Button.search { @extend .Button.plain; @extend icons; display:flex; width:32px; justify-content: center; }
.Button.search:before { content:"\f002"; font-size:1.2rem; }
.Button.search .Button-Text { font:0/0 a; }

/*---[Forms]------------------------------------------------------------------*/
label { display:block; }
input { border:1px solid #ddd; width:100%; padding:.2rem .4rem; width: 100%; }

.Field + .Field { margin:0 0 1rem; }
.Field-Note { font-size:.9rem; opacity: .9; margin:.4rem 0 0; }

/*---[Tables]------------------------------------------------------------------*/



