/*
 * Objects
 * 		Class based selectors which define undecorated design patterns.
 */


/*---[Standards] ------------------------------------------------------------------*/
.Hide { display: none; }
.Show { display: block; }
.Disabled { opacity: .4; }

/*---[Layout]------------------------------------------------------------------*/
.Page { position: relative; min-height:100vh; }



/*---[Navigation]------------------------------------------------------------------*/


/*---[Header]------------------------------------------------------------------*/


/*---[Footer]------------------------------------------------------------------*/
