/*---[Layout] ------------------------------------------------------------------*/
.Page { display:flex; flex-direction: column; }
.Main { flex:1; }

/* Columns */
.TwoColumn, .ThreeColumn { display:flex; }
.Column { flex:1; }
.Column:not(:first-child) { margin-left: 2rem; }

