.Dev-Swatch { display:flex; }
.Dev-Swatch div { flex:1; height: 200px; }
.Dev-Swatch div:nth-child(1) { background: $swatch1; }
.Dev-Swatch div:nth-child(2) { background: $swatch2; }
.Dev-Swatch div:nth-child(3) { background: $swatch3; }
.Dev-Swatch div:nth-child(4) { background: $swatch4; }
.Dev-Swatch div:nth-child(5) { background: $swatch5; }
