<template>
	<div class="test">
		<h1>{{ message }}</h1>
	</div>
</template>

<script>
	export default {
		name: "test",
		data() {
			return {
				message: "TEST Hello World from Vue.js App, bundled with Packit!"
			}
		}
	}
</script>

<style>
	html { background:rgba(0, 255, 0, .2); }
</style>
